/* =====================================
GLOBAL / IMPORTS
======================================== */
:root {
/* COLORS */
    /* PRIMARY */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);

    /* ACCENT */
    --blue: hsl(248, 32%, 49%);

    /* NEUTRAL */
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);

/* TYPOGRAPHY */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
}

body {
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--red);
    background-image: url(../images/bg-intro-desktop.png);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
    min-height: 100vh;
}

/* Selects all child div's in .container */
.container > div {
    /* Applies flex-grow to both div's to apply equal space in container. */
    flex: 1;
    padding: 0 20px;
}


/* =====================================
LEFT 
======================================== */
.left h1 {
    font-size: 45px;
}

.left p {
    font-size: 15;
    line-height: 25px;
}


/* =====================================
BOX 
======================================== */
.box {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

.box p {
    font-size: 14px;
}

.blue-box {
    background-color: var(--blue);
    padding: 5px;
    margin-bottom: 20px;
}

.box button {
    width: 100%;
    padding: 15px;
    background-color: var(--green);
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 10px;
}

/* =====================================
FORM 
======================================== */
.form-control {
    margin-bottom: 20px;
    position: relative;
}

.form-control input {
    border-radius: 5px;
    border: 1px solid var(--grayish-blue);
    padding: 15px 0;
    width: 100%;
}

.form-control input:active {
    /* CHANGE TO BLACK */
}

::placeholder {
    font-size: 13px;
    /* MAKE PLACEHOLDER HAVE SPACE ON LEFT */
}

.box small {
    color: hsl(246, 25%, 77%);
    font-size: 10px;
}

.box small a {
    text-decoration: none;
    color: hsl(0, 100%, 74%);
    font-weight: 600;
}

/* ERRORS */
.form-control img {
    display: block;
    position: absolute;
    top: 14px;
    right: 25px;
}

.form-control.error input{
    border: 2px solid var(--red);
    border-radius: 5px;
}