/* =====================================
IMPORTS / GLOBAL
======================================== */
/* TYPOGRAPHY */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
/* COLORS */
    /* PRIMARY */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);

    /* ACCENT */
    --blue: hsl(248, 32%, 49%);

    /* NEUTRAL */
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

html {
    box-sizing: border-box;
  }

  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
  }

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--red);
    background-image: url(../images/bg-intro-desktop.png);
    color: #fff;
}


/* =====================================
LAYOUT
======================================== */
.container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.container > div {
    flex: 1;
    padding: 0 20px;
}


/* =====================================
LEFT
======================================== */
.left h1 {
    font-size: 50px;
}

.left p {
    line-height: 28px;
}


/* =====================================
BOX
======================================== */
.box {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 25px;
    box-shadow: 0px 7px 1px 0px rgba(0,0,0,0.2);
}

.blue-box {
    background-color: var(--blue);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}


/* =====================================
FORM
======================================== */
.form-control {
    margin-bottom: 20px;
    position: relative;
}

.form-control input {
    font-size: 14px;
    font-weight: 500;
    padding: 20px 30px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #D3D3D3;
}

.form-control input:focus {
    outline: none;
    border: 1px solid #000;
}

button {
    background-color: var(--green);
    border-radius: 5px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    padding: 20px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.5s ease;
}

button:hover {
    cursor: pointer;
    background-color: hsl(154, 71%, 61%);
}

.terms {
    color: var(--grayish-blue);
    font-size: 14px;
    
    text-align: center;
    margin-top: 15px;
}

.terms a {
    text-decoration: none;
    color: var(--red);
}


/* =====================================
ERROR
======================================== */
.error-icon {
    display: none;
    position: absolute;
    top: 18px;
    right: 35px;
}

.form-control.error-border {
    outline: none;
    border: 3px solid var(--red);
    border-radius: 8px;
}

.error-small {
    display: none;
    color: var(--red);
    font-style: italic;
    font-size: 12px;
    margin-top: 10px;
    text-align: right;
}


/* =====================================
@MEDIA
======================================== */
@media screen and (max-width: 776px){
    .container {
        flex-direction: column;
    }

    .left {
        text-align: center;
        margin-bottom: 30px;
    }

    .form-control input {
        padding: 20px;
    }

    .error-icon {
        right: 25px;
    }
}